.content {
    padding: 10px;
}

.middle {
    text-align: center;
}

.ookii-midashi {
    font-size: 5vw;
}

.tyoiookii-midashi {
    font-size: 2.5vw;
}

.features {
    padding-left: 10vw;
}

.features-description {
    padding-left: 4vw;
    padding-right: 4vw;
}

.footer {
    padding-top: 5vh;
}
