
.letters {
    width: calc(60vw - 20px); /* navbarの幅と合わせる */
    height: 100vh;
    padding-left: 20vw; /* navbarの幅だけ左側に余白を確保 */
    padding-top: 5vh;
    padding-right: 4vw;
}

.letter-profile {
    display: flex;
}

.letter-hr {
    color: var(--letter-color);
}
