<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/default.main.css">
    <link rel="stylesheet" href="/static/home.main.css">
    <link rel="stylesheet" href="/static/letters.main.css">
    <title>ホーム / Nyantter</title>
</head>
<body>
    <div class="content">
        <div class="navbar">
            <div class="navbar-btn">
                ホーム
            </div>
            <div class="navbar-btn">
                検索
            </div>
            <div class="navbar-btn">
                通知
            </div>
            <div class="navbar-btn">
                設定
            </div>
            <div class="navbar-profile">
                <div class="icon"><img class="icon_img" src="/static/default_icon.png" width="48" height="48" alt="デフォルトのアイコン"></div>
                <div class="profile-name">
                    <div class="account-display-name">名無しさん</div>
                    <div class="account-name">@AnonymousUser</div>
                </div>
            </div>
        </div>

        <div class="letters">
            <div class="letter">
                <div class="letter-profile">
                    <div class="icon"><img class="icon_img" src="/static/default_icon.png" width="48" height="48" alt="デフォルトのアイコン"></div>
                    <div class="letter-name">
                        <div class="account-display-name">名無しさん</div>
                        <div class="account-name">@AnonymousUser</div>
                    </div>
                </div>
                <div class="letter-content">
                    aa
                </div>
                <hr class="letter-hr">
            </div>
        </div>
    </div>
</body>
</html>
