<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/default.main.css">
    <link rel="stylesheet" href="/static/index.main.css">
    <title>猫たちのためのSNS / Nyantter</title>
</head>
<body>
    <div class="content">
        <div class="middle">
            <h1 class="ookii-midashi">ここで、誰かを待ってみよう</h1>
            <h2 class="tyoiookii-midashi">猫たちのためのSNS、Nyantter</h2>

            <div class="button">今すぐ登録</div>
            <small>アカウントを登録することにより、Nyantterの<a href="/tos">利用規約</a>と<a href="/privacy">プライバシーポリシー</a>に同意したとみなされます。</small>
            <div style="padding-top: 3vw;">登録済み？ <a href="#">ログインしよう</a></div>
        </div>

        <div class="footer">
            <a href="/tos">利用規約</a> <a href="/privacy">プライバシーポリシー</a>
        </div>
    </div>
</body>
</html>
